* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor_margens: #1b357e;
    --cor_botoes: #1351db;
    --cor_cinza_claro: #ebedf3;
}

header {
    display: flex;
    padding: 1% 1% 1% 1%;
    box-shadow: 0px 1px 4px -2px grey;
    margin: 0% 0% 0% 0%;

    min-width: 0;
    max-width: 100%;
}


.logo {
    display: flex;
    width: 25%;
}

.logo_img {
    width: 44%;
}

.cabeçalho {
    display: flex;
    width: 50%;
    gap: 5%;
    align-items: center;
    justify-content:center;
}

.cabeçalho_link {
    text-decoration: none;
    font-size: 150%;
    font-family: "Montserrat", sans-serif;
    color: var(--cor_botoes);
    font-weight: bold;
}

.cabeçalho_link:hover {
    color: var(--cor_margens);
    transition: 0.15s;
    transform: scale(1.05);
}

#ativo {
    background-color: var(--cor_cinza_claro);
    padding: 10px;
    border-radius: 10px;
}

footer {
    display: flex;
    padding: 1.9% 1% 1.7% 1%;
    background-color: var(--cor_margens);
    color: white;
    flex: 1;

    min-width: 0;
    max-width: 100%;
}

.redes {
    padding-top: 1%;
    display: flex;
    width: 7.5%;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
}
  
.social {
    display: flex;
    width: 90%;
    gap: 0%;
    
}

.social_links {
    width: 90%;
}

.social_links:hover {
    transition: 0.15s;
    transform: scale(1.03);
}

.copyright {
    padding-top: 1%;
    padding-left: 3%;
    display: flex;
    width: 72%;
    font-size: 100%;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.logo2 {
    display: flex;
    width: 20%;
    justify-content: end;
}

.logo_img2 {
    width: 45%;
}