* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor_margens: #1b357e;
    --cor_botoes: #1351db;
    --cor_cinza_claro: #ebedf3;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    min-width: 0px;
    max-width: 100%;
}

.carro {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.carro_img {
    width: 100%;
    align-self: center;
}

.carro a {
    width: 76%;
    justify-content: center;
    text-align: center;
}

.carro_img:hover {
    transform: scale(1.003);
    transition: 0.1s;
}

.aqui_link {
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
    padding-top: 2%;
}

@media (max-width: 800px) {
    .carro p {
        width: 70%;
        font-size: 120%;
    }
}