* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor_margens: #1b357e;
    --cor_botoes: #1351db;
    --cor_cinza_claro: #ebedf3;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    min-width: 0px;
    max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

div#carousel {
    margin-top: 20px;
    text-align: center;
    width: 83%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.carousel-image {
    width: 100%; 
    height: auto; 
    display: inline-block;
    transition: 0.5s;
}

.carousel-image:hover {
    transform: scale(1.01);
}

.carousel-link {
    width: 100%;
    height: 100%;
}

.carousel-btn {
    border-radius: 10px;
    margin: 0 3%;
    padding: 3% 1%;
    background-color: #1351d8;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.carousel-btn:hover {
    background: #1b357e;
    transform: scale(1.05);
}

div#carousel-title a {
    text-decoration: none;
}

div#carousel-title  {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    padding-bottom: 1%;
}

@media (max-width: 800px) {
    .carro p {
        width: 70%;
        font-size: 120%;
    }
}